# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# Gradle
build/
.gradle/
gradle-app.setting
*.gradle

# Kate
*.kate-swp

# OS specific
.DS_Store
Thumbs.db
*.tmp
*.log

# Forge / Minecraft
run/
eclipse/
src/main/resources/META-INF/MANIFEST.MF
src/main/java/com/voided/tfcnuclear/inventory/blocks
src/main/resources/assets/tfcnuclear/models/block
src/main/resources/assets/tfcnuclear/textures/blocks
src/main/resources/assets/tfcnuclear/textures/gui

# Backup files
*.bak
*.swp
*~

# Other
*.class
*.jar
!gradle-wrapper.jar
